# Task 1

In [2]:
a=10
b=5
c=3
a+b+c

18

In [5]:
#program to find numbers divisible by 7 but are not a multiple of 5, between 2000 and 3200 

list = []

for i in range(2000, 3200):
    if (i%7==0) and(i%5 != 0):
        list.append(str(i))
print(','.join(list))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [13]:
#reversing first name and last name of user input
#Source : https://www.geeksforgeeks.org/reverse-string-python-5-different-ways/

fn = str(input("Enter Your First Name: "))
ln = str(input("Enter Your Last Name: "))
print(fn[::-1])
print(ln[::-1])

Enter Your First Name: Ajay
Enter Your Last Name: Kumar
yajA
ramuK

In [16]:
#Calculating volume of a sphere
# volume = 1/6 pie d^3

pie = 22/7 
d = 12
v = 1/6 *pie* d*d*d
v

905.142857142857

In [19]:
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list
# Source = https://www.w3resource.com/python-exercises/python-basic-exercise-6.php
userinput = input("Input some comma seprated numbers : ")
list = userinput.split(",")
print('List : ',list)

Input some comma seprated numbers : 1,2,3,4
List :  ['1', '2', '3', '4']

In [42]:
#Printing pattern
#source https://www.educba.com/star-patterns-in-python/

rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Enter max star to be display on single line5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
# reversing name

name = input("enter the name to reverse: ")
print(name[::-1])

enter the name to reverse: ajay
yaja

In [47]:
# printing sentence in required format

print("WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute india in to a SOVEREIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute india in to a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens